@charset "UTF-8";

.contents-main{
	overflow-y: scroll;
	height: calc(100vh - 80px);
	min-width: calc(90% - 290px);
	margin-top: 25px;
	margin-left: 10px;
	display: inline-block;
	align-content: flex-start;
	padding: 0 5%;
	.oneday-contents{
		padding: 0px 10px 10px 10px;
		border-bottom: 1px solid #FFAC8880;
		width: fit-content;
	}
	.date-content{
		width: calc(100% - 440px);
		.text-date{
			width: 140px;
			font-size: 20px;
			font-weight: 700;
			margin-top: 10px;
			margin-bottom: 15px;
		}
	}
	.content-contents_list{
		position: relative;
		margin: 10px 0px;
		width: calc(100% - 440px);
		min-width: 500px;
		
		.video-content{
			display: flex;
			flex-direction: row;
			.thumbnail-video{
				width: 235px;
				height: 138px;
				min-width: 235px;
				min-height: 138px;
				border-radius: 15px;
				margin-right: 20px;
			}
			.text-video{
				*{
					margin: 2px;
				}
				width: fit-content;
				.title-video{
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin: 0;
					.title-text{
						width: 350px;
						min-width: 80%;
						font-size: 18px;
						font-weight: 550;
					}
					.del-btn{
						display: flex;
						justify-content: center;
						align-items: center;
						
						width: 26px;
						height: 26px;
						border-radius: 13px;
					}
					.del-btn:hover{
						background-color: #f0808070;
					}
				}
				
				.detail-text{
					display: flex;
					flex-direction: row;
					*{
						color: gray;
						font-size: 12px;
						font-weight: 500;
					}
					.user-text{
						margin-left: 0;
					}
					.user-text:hover{
						color: black;
						cursor: pointer;
					}
				}
				.exp-text{
					max-width: 95%;
					min-width: 200px;
					margin-top: 5px;
					color: gray;
					font-size: 12px;
					font-weight: 500;
				}
			}
		}
		
	}
}