@charset "utf-8";

.sidebar-main{
	display: flex;
	position: relative;
	flex-direction: column;
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 25px;
	padding-bottom: 25px;
	overflow-y: hidden;
	box-sizing: border-box;
	min-width: 230px;
	height: calc(100vh - 80px);
	*{
		text-decoration: none;
		color: black;	
	}
	.div-sidebar{
		border-radius: 10px;
		margin-bottom: 5px;
		margin-right: 10px;
	}
	.btn-sidebar{
		display: flex;
		height: 42px;
		padding-left: 20px;
		border-radius: 10px;
		align-items: center;
	}
	.txt-sidebar{
		margin-left: 15px;
		font-size: 14px;
		font-weight: 500;
	}
	.btn-sidebar:hover{
		background-color: #FFAC8850;
	}
	.hr-sidebar{
		width: 200px;
		border-color: #FFAC8880;
		border-style: solid;
		margin-left: 10px;
	}
	.subText-sidebar{
		margin-left: 10px;
		margin-top: 10px;
		font-size: 17px;
		font-weight: 530;
	}
	.subImg-btn{
		width: 25px;
		height: 25px;
		border-radius: 50%;
	}
	&::-webkit-scrollbar{
        width: 4px;
        position: absolute;
      }
    &::-webkit-scrollbar-thumb{
      background: #FFBA3560;
      border-radius: 40px;
    }
}
.sidebar-main:hover{
	overflow-y: scroll;
	.div-sidebar{
		margin-right: 6px;
	}
}