@charset "UTF-8";

.contents-main{
	overflow-y: scroll;
	height: calc(100vh - 80px);
	min-width: calc(100% - 280px);
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	align-content : flex-start;
	.content-contents{
		margin-left: 20px;
		.video-contents{
			width: 350px;
			height: 197px;
			border-radius: 15px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		.detail-contents{
			width: 350px;
			height: 100px;
			display: flex;
			.userimg-detail{
				width: 36px;
				height: 36px;
				margin-top: 12px;
				margin-right: 12px;
				border-radius: 18px;
				background-size: cover;
				background-position: center;
			}
			.text-detail{
				width: 308px;
				margin-top: 10px;
				*{
					margin:0px;
				}
				.title-detail{
					font-size: 15px;
					font-weight: 700;
				}
				.user-detail{
					width: fit-content;
					height: 18px;
					color: gray;
					font-size: 12px;
					font-weight: 500;
					align-content: flex-end;
				}
				.user-detail:hover{
					color: black;
					cursor: pointer;
				}
				.etc-detail{
					color: gray;
					font-size: 12px;
					font-weight: 500;
				}
			}
		}
	}
}

.noSub-contents{
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 70%;
	align-items: center;
	justify-content: center;
	.img-noSub{
		width: 200px;
		margin-bottom: 10px;
	}
	.text-noSub{
		text-align: center;
		*{
			color: black;
			margin: 5px;
		}
	}
}