@charset "UTF-8";

.contents-main{
	overflow-y: scroll;
	height: calc(100vh - 80px);
	min-width: calc(90% - 280px);
	margin-top: 25px;
	padding: 0 5%;
	display: inline-block;
	align-content: flex-start;

	.content-contents_list{
		margin: 10px 0px;
		width: 100%;
		min-width: 500px;
		
		.video-content{
			display: flex;
			flex-direction: row;
			border-bottom: 1px solid #FFAC8880;
			padding: 10px 0px;
			.thumbnail-video{
				width: 235px;
				height: 132px;
				min-width: 235px;
				min-height: 132px;
				border-radius: 15px;
				margin-right: 20px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
			.text-video{
				*{
					margin: 0px;
				}
				width: calc(100% - 250px);
				min-width: calc(100% - 250px);
				.title-video{
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin: 0;
					.title-text{
						width: 350px;
						min-width: 80%;
						font-size: 18px;
						font-weight: 550;
						margin: 4px 0px;
					}
					.del-btn{
						display: flex;
						justify-content: center;
						align-items: center;
						
						width: 26px;
						height: 26px;
						border-radius: 13px;
					}
					.del-btn:hover{
						background-color: #f0808070;
					}
				}
				
				.detail-text{
					display: flex;
					flex-direction: row;
					*{
						color: gray;
						font-size: 12px;
						font-weight: 500;
					}
					.user-text{
						margin-left: 0;
						margin-right: 4px;
						width: fit-content;
						height: 18px;
						align-content: center;
					}
					.user-text:hover{
						color: black;
						cursor: pointer;
					}
				}
				.exp-text{
					max-width: 95%;
					min-width: 200px;
					margin-top: 5px;
					color: gray;
					font-size: 12px;
					font-weight: 500;
				}
			}
		}
		
	}
}