<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<error-page>
		<error-code>404</error-code>
		<location>/errNoPage.jsp</location>
	</error-page>
	<resource-ref>
		<description>Connection</description>
		<res-ref-name>jdbc/mysql</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>mvc.controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>