@charset "UTF-8";

.contents-main{
	overflow-y: scroll;
	height: calc(100vh - 100px);
	min-width: calc(100% - 310px);
	margin-top: 25px;
	padding-top: 15px;
	margin-left: 30px;
	display: inline-block;
	align-content: flex-start;

	.content-contents_list{
		.video-content{
			display: flex;
			flex-direction: row;
			padding-bottom: 20px;
			.thumbnail-video{
				width: 356px;
				height: 200px;
				min-width: 356px;
				min-height: 200px;
				border-radius: 15px;
				margin-right: 20px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
			.etc-text{
				color: gray;
				font-size: 12px;
				font-weight: 500;
			}
			.text-video{
				*{
					margin: 2px;
				}
				.title-video{
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin: 0;
					.title-text{
						min-width: 80%;
						font-size: 18px;
						font-weight: 550;
					}
				}
				
				.detail-text{
					display: flex;
					flex-direction: row;
					align-items: center;
					margin-top: 7px;
					margin-left: 0;
					.userimg-detail{
						width: 20px;
						height: 20px;
						border-radius: 10px;
						background-size: cover;
					}
					.user-text{
						color: gray;
						font-size: 12px;
						font-weight: 500;
						margin-left: 5px;
					}
					.user-text:hover{
						color: black;
						cursor: pointer;
					}
				}
				.exp-text{
					width: 80%;
					min-width: 400px;
					margin-top: 5px;
					color: gray;
					font-size: 12px;
					font-weight: 500;
				}
			}
		}	
	}
	.noResult-contents{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 70%;
		width: 90%;
		.text-noResult{
			display: flex;
			align-items: center;
			*{
				font-size: 16px;
				font-weight: 600;
			}
			.query-text{
				color: #FFAC45;
				margin-right: 5px;
			}
			.info-text{
				color: #767676;
			}
		}
		.etc-noResult{
			margin: 0;
			font-size: 14px;
			font-weight: 500;
			color: #C0C0C0;
		}
	}
}