@charset "UTF-8";

.contents-main{
	overflow-y: scroll;
	height: calc(100vh - 100px);
	min-width: calc(100% - 310px);
	margin-top: 25px;
	padding-top: 15px;
	margin-left: 30px;
	display: inline-block;
	align-content: flex-start;

	.content-contents_list{
		.video-content{
			display: flex;
			flex-direction: row;
			padding-bottom: 20px;
			.thumbnail-video{
				width: 356px;
				height: 200px;
				min-width: 356px;
				min-height: 200px;
				border-radius: 15px;
				margin-right: 20px;
			}
			.etc-text{
				color: gray;
				font-size: 12px;
				font-weight: 500;
			}
			.text-video{
				*{
					margin: 2px;
				}
				.title-video{
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin: 0;
					.title-text{
						min-width: 80%;
						font-size: 18px;
						font-weight: 550;
					}
				}
				
				.detail-text{
					display: flex;
					flex-direction: row;
					align-items: center;
					margin-top: 10px;
					.userimg-detail{
						width: 20px;
						height: 20px;
						border-radius: 10px;
					}
					.user-text{
						color: gray;
						font-size: 12px;
						font-weight: 500;
						margin-left: 0;
					}
					.user-text:hover{
						color: black;
						cursor: pointer;
					}
				}
				.exp-text{
					max-width: 80%;
					min-width: 250px;
					margin-top: 5px;
					color: gray;
					font-size: 12px;
					font-weight: 500;
				}
			}
		}
		
	}
}