@charset "UTF-8";

.noVideo-myPage {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
    .create-btn {
	    font-size: 15px;
	    color: white;
	    background-color: black;
	    border-radius: 15%;
	    cursor: pointer;
	}
}
.video-myPage{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	align-content : flex-start;
	.content-contents{
		margin-left: 20px;
		.video-contents{
			width: 350px;
			height: 197px;
			border-radius: 15px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		.detail-contents{
			width: 350px;
			height: 80px;
			display: flex;
			.text-detail{
				width: 308px;
				margin-top: 5px;
				margin-left: 12px;
				*{
					margin:0px;
				}
				.title-detail{
					font-size: 15px;
					font-weight: 700;
				}
				.user-detail{
					width: fit-content;
					height: 18px;
					color: gray;
					font-size: 12px;
					font-weight: 500;
					align-content: flex-end;
				}
				.user-detail:hover{
					color: black;
					cursor: pointer;
				}
				.etc-detail{
					color: gray;
					font-size: 12px;
					font-weight: 500;
				}
			}
		}
	}
}